<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header.ejs %>
    <div id="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>

    <ul>
        <% user_list.forEach(function(user) { %>
           <li> Name:<%= user.name %> Email:<%= user.email %> Member:<%= user.member %></li>
        <% }); %> 
    </ul>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
